body{
    background: url('https://i1.wallbox.ru/wallpapers/main2/201727/1499348622595e3e8ef27150.59040051.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-width: 100%;
    margin: 0px;
}
h1{
	color: white;
	font-family: Arial;
	text-align: center;
    top: 120px;
    left: 125px;

    position: absolute;
    font-size: 10px;
}
h2{
	font-family: Bebas;
    font-size: 30px;
    color: #066832;
}
.logo{
	width: 20%;
    left: 120px;
    top: 40px;
    position: absolute;
}

.login{
    top:100px;
    float: left;
    left: 60px;
    width: 35%;
    border-width: 0.5px;
    color:white;
    border-radius:5px;
    padding: 20px;
    margin: 70px;
    position: absolute;
    box-shadow: 0px 0px 15px -2px rgba(5,5,5,0.7);
    background-color: rgba(255,255,255,0.5);
}
.daftar{
    top: 100px;
    left: 650px;
	width: 35%;
    border-width: 0.5px;
    border-color: white;
    color:white;
    border-radius:5px;
    padding: 20px;
    margin: 70px;
    box-shadow: 0px 0px 15px -2px rgba(5,5,5,0.7);
    background-color: rgba(255,255,255,0.5);
    position: absolute;
}
input[type=password], input[type=text], input[type=email], select{
	background-color: rgba(30,30,30,0.3);
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
}
textarea{
	background-color: rgba(255,255,255,0.3);
    width: 100%;
    height: 200px;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
}
.masukbutton{
	background-color: #e4ff00;
    color: #066832;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius:5px;
    font-family: Bebas;
    font-size: 20px;
}
.daftarbutton{
	background-color: #e4ff00;
    color: #066832;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius:5px;
    font-family: Bebas;
    font-size: 20px;
}
