body{
    background: url('Tugas Web/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}
.content{
    width: 100%
}
.header{
    width: 100%;
    background: #302c47;
    color: white;
}
nav {
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline;
}
ul > li {
  display: inline;
}
ul > li > a {
  text-decoration: none;
  color: #f3f3f3;
  background: #302c47;
  padding: 10px 15px;
}
ul > li > a:hover {
  background: #f3f3f3;
  color: #302c47;
}
.logo{
    float:left;
    padding: 10px
}
table[header]{
    width: 100%;
}
.navigasi{
    float:right;
    padding: 10px
}

.content{
    padding: 20px;
}
.tablemenu{
    width: 100%;
}

figure{
    background-color;
    border-style: solid;
    border-width: 3px;
    border-radius:5px;
    border-color: #e4ff00;
    color: #302c47;
    padding: 10px;
    box-shadow: 0px 0px 15px -2px rgba(5,5,5,0.7);
    background-color: rgba(255,255,255,0.8);
}
fieldset{
    width: 90%;
    border: none;
    border-radius:5px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 15px -2px rgba(5,5,5,0.7);
}

